<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="container">
            <p class="text-center fs-1">Welcome to Petanny</p>
            <p class="text-center fs-3 text-muted">The one place for all you pet nanny needs</p>
        </div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/dog1.jpg" style = "height: 70%; width:auto;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color:black">Post an add</h5>
                    <p style="color:black">Tell us when your dog needs taking care of.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/dog2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Apply as a sitter</h5>
                    <p>Earn money by taking care of dogs.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/dog3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Pay with Ethereum</h5>
                    <p>Be safe and pay smart.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container">
    <h2 class="display-6 text-center mb-4 border-top mt-5 pt-3" id="explore">Explore nearby</h2>
    <div class="row justify-content-center mt-3">
        {{#each ads as |ad|}}
            {{#if ad}}
            <div class="card card-hp col-md-4 m-3 text-black">
                <img src="/images/{{ad.dog.0.photourl}}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ad.dog.0.dogname}}</h5>
                    <p class="card-text"> Location: {{ad.city}} </br>Task: {{task ad.task}}</p>
                    <a href="ad/{{ad._id}}"><button type="button" class="btn btn-secondary buttonPost">Be a nanny for {{ad.dog.0.dogname}}</button></a>
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>